block content
    footer(class="text-white flex gap-16 justify-center items-center bg-black w-full h-12 absolute bottom-0")
        p(class="") ©Emil 2024
        ul(class="flex gap-4")
            li
                a(class="underline hover:animate-turnToGold" href="" target="_blank") Contact
            li
                a(class="" href="https://github.com/emil6957" target="_blank")
                    img(class="hover:animate-spinOnce w-6 h-6" src="/images/github-mark-white.svg" alt="github logo")
