block content
    header(class="z-10 bg-white fixed top-0 w-screen p-4 border-b-2 border-solid border-red flex justify-around align-center")
        div
            a(href="/cars") Home
        div(class="flex gap-4")
            a(href="/cars/cars") Cars
            a(href="/cars/manufacturers") Manufacturers
            a(href="/cars/bodyTypes") Body Types
