block content
    header(class="z-10 text-white bg-black fixed top-0 w-screen p-4 border-b-2 border-solid border-red flex justify-center align-center")
        div(class="mr-auto")
            a(class="" href="/cars")
                    img(class="w-24" src="/images/logo/svg/Color-logo-no-background.svg")
        div(class="mr-auto flex gap-4")
            a(href="/cars/cars") Cars
            a(href="/cars/manufacturers") Manufacturers
            a(href="/cars/bodyTypes") Body Types
