extends layout

block content
    div
        include includes/header.pug
        h1 Car List

        ul
            for car in car_list
                li
                    div(class="")
                        img(src="")
                        a(href=`./car/${car._id}`) #{car.manufacturer.name} #{car.name}
        include includes/footer.pug
